
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 style="color:gray; text-shadow: 1px 1px #000;">
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.email %>
        <br><br><br><br><br><br><br><br><br>
        Account Created: <%= @user.created_at.strftime("%b. %d %Y") %>
        <br><br>
        Last Updated: <%= @user.updated_at.strftime("%b. %d %Y") %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Pokédex Entries (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>



